.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.border {
  border: solid black 2px;
}

label {
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: row;
}
