.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

.border {
  border: solid black 2px;
}

label {
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: row;
}


@media (max-width: 1000px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 25%
  }
}